@import '../../vars.scss';

$width: 10rem;
$height: 6rem;

.ddd__order {
  .dbdy {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    min-height: 350px;
    max-width: 1160px;
    padding: 2rem 1rem;
    
    @media (min-width: $bp) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
    }
  }

  .dbdy-drag,
  .dbdy-drop {
    height: $height;
    width: $width;
  }

  .dbdy-drag {
    cursor: grab;
    transition: margin 300ms ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &--dragging {
      opacity: 0;
      margin: ($height / -2) 0;

      @media (min-width: $bp) {
        margin: 0 ($width / -2);
      }

      & + .dbdy-drop {
        display: none;
      }
    }
  }

  .dbdy-drop {
    margin: ($height / -2) 0;
    position: relative;
    z-index: 1;

    @media (min-width: $bp) {
      margin: 0 ($width / -2);
    }

    &--active {
      transition: all 300ms ease-in-out;
      z-index: 3;
    }

    &--hover {
      height: $height * 2;

      @media (min-width: $bp) {
        height: $height;
        width: $width * 2;
      }
    }
  }

  .dbdy__clone {
    cursor: grabbing;
    z-index: 4;
  }
}
