@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import './vars.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.ddd {
  padding: 1rem;
}
